<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blogs">Blogs</a>
      <a href="/terminal">Terminal</a>
    </nav>

    {{{body}}}

    <main class="container">
      <h1 id="typing"></h1>
    </main>
    <script src="script.js"></script>
  </body>
</html>
